:root{
    --gap:0.3rem;  
  }
  
  body{
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-rows: auto;
      grid-template-areas: 
          "header"
          "main"
          "footer"
      ;
      gap:var(--gap);
  }
  
  body > header {
      grid-area: header;
      width: 100%;
      min-height: 40px;
      background-color: white;
      display: flex;
      justify-content:space-around;
      align-items: center;
      background-color: #6C63FF;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: fixed;
      z-index: 2;
    }

  a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  body > main {
      grid-area: main;
      z-index: 1;
    }
    
  body > footer {
      grid-area: footer;
      
    }
  main{
      display: grid;
      grid-template-rows: repeat(4,1fr);
      grid-template-areas: 
      "welcome-section" 
      "services-section" 
      "pricing-section"
      "contact-section";
      gap:var(--gap);
  }
  
  main > #welcome-section{
    margin-top: 30px;
    grid-area: welcome-section;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #welcome-section h1, h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color:black;
  }
  span{
    color: #6C63FF;
  }

  #logo{
    width: 200px;
    height: 200px;
    align-self: flex-end;
  }

  #relax{
    width: 400px;
    height: 400px;
  }
  .container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #div-header{
    background-color:#6C63FF;
    border-style: solid;
    border-color:#6C63FF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color:white;
    border-radius: 10px 0px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  #div-description{
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    font-size: 20px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  main > #services-section{
    grid-area: services-section;
    background-color: white;
  }
  
  main > #pricing-section{
    grid-area: pricing-section;
    background-color: white;
  }
  
  main > #contact-section{
    grid-area: contact-section;
    background-color: white;
  }
  
  #services-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "service-one service-two service-three";
    gap:var(--gap);
  }
  #service-img{
    width: 200px;
    height: 200px;
  }
  
  #services-section > #service-one{
    grid-area: service-one;
  }
  
  #services-section > #service-two{
    grid-area: service-two;
  }
  
  #services-section > #service-three{
    grid-area: service-three;
  }
  
  #pricing-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "pricing-one pricing-two pricing-three pricing-four";
    gap:var(--gap);
  }
  
  #pricing-section > #pricing-one{
    grid-area: pricing-one;
  }
  
  #pricing-section > #pricing-two{
    grid-area: pricing-two;
  }
  
  #pricing-section > #pricing-three{
    grid-area: pricing-three;
  }
  
  #pricing-section > #pricing-four{
    grid-area: pricing-four;
  }
  #price-line-through{
    font-size: 20px;
    color:dimgray;
    text-decoration:line-through;
  }
  #price{
    color: #6C63FF;
  }

  
  #contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "map form";
    gap:var(--gap);
  }
  
  #contact-section > #map-container{
    grid-area: map;
  
  }
  
  #contact-section > #form-container{
    grid-area: form;
    
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 15px;
  }

  input{
   margin-bottom: 10px;
   width: 100%;
  }
  textarea{
    width: 100%;
    margin-bottom: 10px;
  }
  #submit-message{
    width: 100px;
  }
  
  iframe{
    border-radius: 10px 0px 10px 0px;
    width:600px; 
    height:450px; 
    border:0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  
  
  
  